@import 'config';

body {
	//styling
	background: $bg-color;
	//responsive
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.title {
	font-family: $Qs;
	font-size: 1.8rem;
	font-weight: 700;
	margin: 10px 0;
	text-align: center;
}

.text {
	font-family: $Is;
	font-size: 1rem;
	text-align: justify;
	color: white;
}

.generator-container {
	//styling
	background: $container-bg-color;
	border-radius: 8px;
	border: 3px solid white;
	padding: 1rem;
	max-width: 60%;
	//inner responsive
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	//glow effect
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.inner-container {
	padding: 1rem;
	border-radius: 8px;
	margin-top: 10px;
	background: $inner-container-bg-color;
	//glow effect
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	border-radius: 5px;
	background-color: #3b3b98;
	transition: 0.2s;

	&:hover {
		filter: brightness(1.3);
	}
}

input[type='checkbox'] {
	margin-right: 0;
}

input[type='number'] {
	padding: 0.2em;
	width: 20%;
	font-family: $Qs;
	font-weight: 600;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
	border: none;
}

.result-container {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;

	height: 50px;
	width: 100%;
	border-radius: 4px;

	#password-generated {
		letter-spacing: 2px;
		font-family: $Qs;
		font-weight: 600;
		color: #fff;
		padding: 0 0.5em;
		word-wrap: break-word;
		max-width: calc(100% - 60px);
		
	}

	.btn {
		font-size: 20px;
		position: absolute;
		top: 5px;
		right: 5px;
		height: 40px;
		width: 40px;
		transition: 0.2s;
	}
}

.setting {
	font-family: $Is;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

#btnGenerator {
	width: 100%;
	font-family: $Is;
	font-weight: 400;
	font-size: 18px;
	border: 2px solid rgb(255, 255, 255)
}

@import 'responsive';
